@page "/"
@using SmileRadio.Client.Shared

<PageTitle>Smile Radio</PageTitle>

<div class="text-center">
    <h1>Welcome to Smile Radio</h1>
    <p>Stream local audio to your browser.</p>

    <AudioPlayer />
</div>
